

.slide {
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  
  
    & i {
      font-size: 14px;
      line-height: 0;
      cursor: pointer;
      color: #0d261e;
    }
  }
  
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 100%;
  
    & h1 {
      font-family: Merriweather;
      font-size: 40px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #0d261e;
      text-align: center;
      margin-bottom: 40px;
    }
  
    & p {
      margin-bottom: 8rem;
      line-height: 2.2;
      width: 100%;
    }
  }
  
  .imgsection{
    display: flex;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
    padding: 10px 20px;
  }
  .car{
    width: 320px;
    height: 190px;
    border-color: transparent;
    border-radius: 20px;
    margin: 40px;
  }

  .cartext1{
    bottom: 120px;
    right: 1050px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Lexend;
    
  }

  .cartext2{
    bottom: 120px;
    right: 660px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Lexend;
  }

  .cartext3{
    bottom: 120px;
    right: 260px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Lexend;
  }

  .font{

    padding: 20px 5px;

    & h2 {
      display: flex;
      flex-direction: row;
      color: #0d261e;
      font-family: Merriweather;
      font-size: 40px;
    }
    & h2:before, h2:after{
      content: "";
      flex: 1 1;
      border-bottom: 1px solid;
      margin: auto;
    }
    & h2:before {
      margin-right: 50px;
      background: black;
    }
    & h2:after {
      margin-left: 50px;
      background: black;
    }
  }
  .imgsection_btn{
    transform: rotateY(180deg);
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 40px;
    border: solid 2px #1a4c3c;
    background-color: #fff;
    font-family: Lexend;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #1a4c3c;
    transition: all 0.5s ease-in-out;
  }
 
  
  
  
  
  